@{
    ViewBag.Title = "viewItem";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using MVC.Models;
<h1>      </h1>
<h2>All Items</h2>

<div class="col-lg-12">
    <table border="1" style="margin-top:5%; width:70%; line-height:22PX;">

        <tr><th><h5>Item Id</h5></th><th><h5>Name</h5></th><th><h5>Description</h5></th><th><h5>Color</h5></th><th><h5>Price</h5></th><th><h5>Size</h5></th><th><h5>Type</h5></th><th><h5>Status</h5></th><th><h5>DELETE</h5></th><th><h5>UPDATE</h5></th></tr>

        @foreach (Item i in Model)
        {
            <tr>
                <td><h5>@i.Id</h5></td>
                <td><h6>@i.Name</h6></td>
                <td>@i.Description_</td>
                <td>@i.Color</td>
                <td>@i.Price</td>
                <td>@i.Size</td>
                <td>@i.Type</td>
                <td>@i.Status</td>
                <td>
                    <a href="~/Admin/deleteItem/@i.Id">Delete</a>
                </td>
                <td>
                    <a href="~/Admin/updateI/@i.Id">Update</a>
                </td>
            </tr>
        }


    </table>

</div>

